<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrderFlow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login-page.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-icons.css" />
</head>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
        <main role="main" class="w-100" style="max-width: 500px;">
            @RenderBody()
        </main>
        <footer class="footer text-muted w-100 text-center mt-4">
            <div class="container">
                &copy; 2025 - OrderFlow
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
